@using MVCPL.Helpers
@model MVCPL.Infrastructure.ExceptionPagedData

@{
    ViewBag.Title = "ExceptionManagement";
}

<h2>Exception management</h2>

@if (!Model.Exceptions.Any())
{
    <hr />
    <br />
    <p>There's no exceptions</p>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>
                <p>Message</p>
            </th>
            <th>
                <p>Controller</p>
            </th>
            <th>
                <p>Action</p>
            </th>
            <th>
                <p>Date</p>
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Exceptions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExceptionMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ControllerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details") |
                    @Html.ActionLink("Delete", "Delete")
                </td>
            </tr>
        }
    </table>
    <br />
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("ExceptionManagement", "Admin", new { page = x }))
    </div>
}